{% extends "layout.html" %}

 {%block title %} Login | {{block.super}} {% endblock %}

 {% block content %}


 <div class="row justify-content-md-center align-items-center">
        <div class="col-4">
        </div>
    
        <div class="col-4">
    
            <form method="POST" action="">
              {% csrf_token %}
              
              <div class="alter alert-danger">
                <ul class="list-group">
                  {% for error in form.non_field_errors %}
                  <li class="list-group-item list-group-item-danger">{{ error }}</li>
                  {% endfor %}
                </ul>
              </div>
              
              <hr>
              
              {% for field in form %}
              
                <div class="input-group mb-3">
                  {{field}}
                </div>
              {% endfor %}
    
    
              <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
             
            </form>
    
    
        </div>
    
        <div class="col-4">
    
        </div>
    
    </div>
    



 {% endblock %}