{% extends "layout.html" %}

 {%block title %} Login | {{block.super}} {% endblock %}

 {% block content %}


 <div class="row justify-content-md-center align-items-center">
        <div class="col-4">
        </div>
    
        <div class="col-4">
    
            <form method="POST" action="">
              {% csrf_token %}
                {% for field in form %}
                  {% if field.errors %}
                      {% for error in field.errors %}
                      <div class="alert alert-danger">{{error}}</div>
                      {% endfor %}
                  {% endif %}
                  <div class="input-group mb-3">
                    {{field}}
                  </div>
                {% endfor %}
    
    
                <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
    
             
            </form>
    
    
        </div>
    
        <div class="col-4">
    
        </div>
    
    </div>
    



 {% endblock %}