{% extends "layout.html" %}


{% block content %}

{% for post in stream %}

        <div class="row">

                <div class="col-3"></div>

            <div class="col-6">
                    
        <div class="card mb-3">
          <div class="card-header">
                <div class="row">
                    <div class="col-11">
                        <h3>
                            <a href="{% url 'stream' %}{{post.user.username}}">
                                @
                                {{post.user.username}}
                            </a>
                        </h3>
                    </div>
                    
                </div>
          </div>
          <div class="card-body">

            {{post.content}}

              <p class="card-text"><small class="text-muted">
                <time>
                    
                    {{post.timestamp.ctime}}
                    
                    
                </time>
            </small></p>

          </div>
          <!-- <span class="border border-primary"></span> -->
        </div>
        
    </div>

    <div class="col-3"></div>
    
    </div>

        
        

    {% endfor %}








{% endblock %}